{% extends "base.html" %}

{% block title %}Listado de Publicaciones{% endblock %}

{% block content %}
    <h1> Todas las Publicaciones</h1>
    <ul>
        {% for pub in publicaciones %}
            <li>
                <strong>{{ pub.titulo }}</strong> - {{ pub.autor }} 
                ({{ pub.fecha_publicacion|date:"d/m/Y" }})
                <br>
                <a href="{% url 'publicaciones:detalle_publicacion' publicacion_id=pub.pk %}">Ver detalle</a>
            </li>
        {% empty %}
            <li>No hay publicaciones disponibles.</li>
        {% endfor %}  
    </ul>
{% endblock %}
