{% extends "base.html" %}

{% block title %}{{ publicacion.titulo }}{% endblock %}

{% block content %}
    <h1>{{ publicacion.titulo}}</h1>
    <p><strong>Autor:</strong>{{ publicacion.autor }}</p>
    <p><strong>Fecha de publicacion:</strong>{{ publicacion.fecha_publicacion|date:"d/m/Y" }}</p>
    <hr>
    <div class="contenido">
        {{ publicacion.contenido|linebreaks }}
    </div>
    
    <p>
	    <a href="{% url 'publicaciones:lista_publicaciones' %}"> ⬅Volver al listado</a>
    </p>
{% endblock %}